.itemCard{
    border: solid 2px grey;
    width: 250px;
    height: 380px;
    color: black;
    background-image: url('../img/ball-background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.imagen {
    height: 250px;
    background-color: transparent;
}
